:host {
  display: block;
  height: calc(100vh - 62px - 64px - 48px - 16px - 16px - 28px);
  padding: 32px;
}

.header {
  display: flex;

  mat-progress-bar {
    margin-top: 12px;
    margin-left: 16px;
    margin-bottom: 16px;
    width: 200px;
  }
}

.results-info {
  color: grey;
}

.gainers-and-losers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 64px;
  height: 100%;
  justify-content: center;

  .gainers,
  .losers {
    display: block;
    height: 71.75%;
    // width: calc(50vw - 64px);
    width: 575px;
  }

  h1 {
    margin: 16px 0;
    text-align: center;
  }
}
