:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-drawer {
  width: 350px;
}

mat-drawer-container {
  height: 100%;
}

.green {
  color: green;
}

.red {
  color: red;
}

.animated-scrollbar {
  background: #6370bd98;
}

.animated-scrollbar-values {
  margin-left: 16px;
}
