:host {
  display: block;
  height: calc(100vh - 62px - 64px - 48px - 16px - 16px - 28px);
  padding: 32px;
}

.currencies {
  display: flex;

  .currencyImg {
    margin-left: 12px;
  }
}

.charts {
  display: flex;
  flex-direction: column;
  height: 100%;

  .klinesChart {
    display: flex;
    flex-grow: 1;
    width: 100%;
  }

  .pieCharts {
    display: flex;
    flex-direction: row;
    height: 400px;
    justify-content: center;
  }
}
