:host {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 62px - 64px - 48px - 16px - 40px);
  padding: 32px;
}

.currencies {
  display: inherit;
  flex-wrap: wrap;

  .currencyImg {
    margin-left: 12px;
  }

  .interval-chips {
    align-content: center;
    align-items: center;
    margin-left: 24px;
    margin-bottom: 20px;
  }
}

.charts {
  display: inherit;
  flex-direction: inherit;
  height: 100%;
  margin-top: 32px;

  .klinesChart {
    display: inherit;
    flex-grow: 1;
    width: 100%;
  }
}

.spinner {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100px;
}
