<div class="currencies">
  <mat-form-field appearance="fill">
    <mat-label>Currencies</mat-label>
    <mat-select [formControl]="currencies">
      <mat-option
        *ngFor="let symbol of symbols$ | async"
        [value]="symbol.symbol"
      >
        {{ symbol.symbol }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <!-- <div class="currencyImg">
    <img
      *ngIf="(symbolsWithImgs$ | async)?.[currencies.value]; else placeholder"
      [src]="(symbolsWithImgs$ | async)?.[currencies.value]"
      width="56"
      height="56"
    />
  </div> -->
  <mat-chip-listbox class="interval-chips" [formControl]="intervalControl">
    <mat-chip-option
      *ngFor="let interval of intervals"
      [selectable]="intervalControl.value !== interval"
      [value]="interval"
    >
      {{ 'dashboard.intervals.' + interval | translate }}
    </mat-chip-option>
  </mat-chip-listbox>
</div>
<mat-divider></mat-divider>
<div class="charts">
  <highcharts-chart
    *ngIf="shouldShowChart; else spinner"
    class="klinesChart"
    [Highcharts]="Highcharts"
    [options]="klinesChartOptions"
  >
  </highcharts-chart>
</div>
<ng-template #spinner>
  <mat-spinner class="spinner"></mat-spinner>
</ng-template>
<ng-template #placeholder>
  <mat-icon class="broken-image">broken_image</mat-icon>
</ng-template>
