<div class="currencies">
  <mat-form-field appearance="fill">
    <mat-label>Currencies</mat-label>
    <mat-select [formControl]="currencies">
      <mat-option *ngFor="let symbol of symbols" [value]="symbol">
        {{ symbol }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="currencyImg">
    <img [src]="symbolsWithImgs[currencies.value]" width="56" height="56" />
  </div>
  <mat-chip-listbox class="interval-chips" [formControl]="intervalControl">
    <mat-chip-option
      *ngFor="let interval of intervals"
      [selectable]="intervalControl.value !== interval"
    >
      {{ interval }}
    </mat-chip-option>
  </mat-chip-listbox>
</div>
<mat-divider></mat-divider>
<div class="charts">
  <highcharts-chart
    *ngIf="shouldShowChart"
    class="klinesChart"
    [Highcharts]="Highcharts"
    [options]="klinesChartOptions"
  >
  </highcharts-chart>
</div>
